<span>Create a new comment</span>
<%= form_for [@post, Comment.new] do |f|%>
	<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 form-group">
    	<%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-md-6 form-group">
    	<%= f.label :email %>
    	<%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
  	<%= f.check_box :show_email %>
    <%= f.label :show_email %>
  </div>
  <div class="form-group">
  	<%= f.label :comment %>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
	<%= f.submit t('comment.submit'), class: "btn btn-default"%>
<% end %>
