<!DOCTYPE html>
<html>
<head>
  <title>Zombie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to t("application.home"), root_path %>
<%= link_to t("application.admin"), admin_path %>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
